.fancy1 {
    font-size: calc(2.2rem + 2vw);
}

.main-text .subtitle {
    font-size: 2rem;
}

.main-text {
    padding: 0.6rem 0 0 0;
}

.main-body {
    height: fit-content;
}

.container-fluid {
    padding: 0 0.1rem;
}

.navbar {
    padding: 0.4rem 0 0 0 !important;
}

.navbar .navigation1,
.navbar .navigation2 {
    padding: 0.5rem 2rem;
}

.containerbg::before {
    display: none;
}